{% extends "base.html" %}

{% block title %}Import Articles{% endblock %}

{% block content %}
<div class="container">
  <h1>Import Articles</h1>
  {% if message %}
    Importing {{ message }} articles. Head to the home page and refresh wildly to see the results.
  {% else %}
  This operation runs automatically. Calling it now might take some time. Are you sure?<br />
  Also, there isn't any ajax set up yet, so you'll have to check the celery logs to see when it's done loading.<br />
  <button class="btn-primary" onclick="window.location = window.location + '?call=true';">Run it!</button>
  <button class="btn-secondary" onclick="window.location = window.location + '?test=true';">Test it! (First 1,000)</button>
  {% endif %}
</div>
{% endblock %}
